body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.page {
    opacity: 1;
    transition: opacity 2s ease;

.container {
    overflow: hidden;
}

.fade-in-text {
    text-align:center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1.5s ease;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: #333;
}

}

.hidden {
    opacity: 0;
}